@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Hind Siliguri', sans-serif;
  margin: 0px;
}

.app {
  display: flex;
  flex-direction: row;
}

.page {
  height: 100vh;
  background-color: #FAF5F2;
  text-align: center;
  margin: 0;
  padding-left: 400px;
  padding-right: 400px;
}

.logo {
  width: 25%;
  height: auto;
}

.instructions {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 50%;
  text-align: left;
}

/* @media only screen and (min-width: 800px) {
  .page {
    margin-left: 20%;
  }
} */