@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Hind Siliguri', sans-serif;
  margin: 0px;
}

.App {
  display: flex;
  flex-direction: row;
  background-color: #FAF5F2;
}

body {
  background-color: #FAF5F2;
}

.page {
  height: 100vh;
  background-color: #FAF5F2;
  text-align: center;
  margin-left: 105px;
  padding: 10px;
}

.landingPage {
  background-color: #FAF5F2;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  width: 100%;
}

.logo {
  width: 140px;
  height: auto;
}

.instructions {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 50%;
  text-align: left;
}

.eventPage {
  margin-left: auto;
  margin-right: auto;
  background-color: #FAF5F2;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .page {
    margin-left: 150px;
  }
}

@media only screen and (min-width: 700px) {
  .page {
    margin-left: 0px;
  }
  .App-main {
    margin: auto;
    width: 50vw;
  }
}