@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Hind Siliguri', sans-serif;
  margin: 0px;
}

.page {
  margin-left: 300px;
  height: 100vh;
  background-color: #FAF5F2;
  text-align: center;
}