.sidebar {
  height: 100vh;
  width: 200px;
  background-color: #636363;
  position: fixed;
  overflow-x: hidden; 
  overflow-x: auto;
  text-align: center; 
}

.giftee-element {
  color: white;
  cursor: pointer;
}

.show {
  background-color: #E25049;
}

.hidden {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-header {
  color: lightgray;
}

.giftee-name {
  display: inline;
  margin: 10px;
}

/* @media only screen and (min-width: 800px) {
  .sidebar {
    
  }
} */