.sidebar {
  height: 100%;
  width: 105px;
  background-color: #636363;
  position: fixed;
  overflow-x: hidden; 
  overflow-x: auto;
  text-align: center;
  font-size: 18px;
}

.giftee-element {
  color: white;
  cursor: pointer;
}

.show {
  background-color: #E25049;
}

.hidden {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-header {
  color: lightgray;
  cursor: pointer;
}

.giftee-name {
  display: inline;
}

.sidebar button {
  color: white;
  text-align: center;
  display: block;
  font-size: 14px;
  background:none;
  border:none;
  margin-left: auto;
  margin-right: auto;
  padding:0;
  cursor: pointer;
}

button:hover {
  color: black;
}

@media only screen and (min-width: 600px) {
  .sidebar {
    width: 150px;
    font-size: 24px;
  }
  .sidebar button {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1000px) {
  .sidebar {
    width: 200px;
    font-size: 28px;
  }
  .sidebar button {
    font-size: 20px;
  }
}